@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import 'swiper/css';


body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  background-color: black;
}

