@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import 'swiper/css';


.fontSum {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  background-color: black;
}

